<launch>
	<param name="use_sim_time" value="true" />

	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/sq2/2018-12-11-13-37-56.bag"/>
	
	<node pkg="beginner_tutorials" name="imu_odom" type="imu_odom" output="screen"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/amsl/.rviz/imu_odom.rviz"/>
</launch>
