<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/infant/2019&#45;01&#45;29&#45;15&#45;34&#45;33.bag"/> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/mocap/0127_infant/2019&#45;01&#45;27&#45;19&#45;23&#45;10.bag"/> -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/infant_mocap/2018-12-09-14-40-09.bag -s 60"/>
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/mocap/0126_infant/no_lsd/2019&#45;01&#45;26&#45;15&#45;41&#45;30.bag"/> -->

	<!-- sensor driver -->
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
	
	<!-- minmax -->
	<!-- <node pkg="velodyne_height_map" type="rm_ground_node_minmax" name="rm_ground"/> -->
	
	<!-- main -->
	<node pkg="pose_estimation_walls" name="imu_initial_alignment" type="imu_initial_alignment" output="screen"/>
	<node pkg="pose_estimation_walls" name="gyrodometry" type="gyrodometry">
		<remap from="/odom" to="/tinypower/odom/republished"/>
	</node>
	<node pkg="pose_estimation_walls" name="odom_republish_infant" type="odom_republish_infant"/>
	<node pkg="beginner_tutorials" name="ndt" type="ndt" output="screen"/>
	
	<!-- comparisons	 -->
	<include file="$(find loam_velodyne)/launch/hector_loam_velodyne.launch"/>
	<node pkg="pose_estimation_walls" name="odom_creater_for_loamvelodyne" type="odom_creater_for_loamvelodyne"/>

	<!-- rviz -->
	<node pkg="rviz" name="rviz" type="rviz" args="-d /home/amsl/.rviz/odom.rviz"/>
</launch>

