<launch>
	<arg name="postfix" default="" />
	<arg name="fixed_frame" default="base_link" />
	<param name="use_sim_time" value="true" />
	
	<node name="scan_to_cloud2" pkg="sq_lidar" type="sq_lidar">
		<param name="fixed_frame" value="$(arg fixed_frame)" />
		<remap from="~/scan" to="/sq_lidar$(arg postfix)/scan" />
		<remap from="~/cloud" to="/cloud" />
		<!-- <remap from="~/cloud" to="/cloud" /> -->
	</node>
	<node pkg="beginner_tutorials" name="sq2_normals" type="sq2_normals" output="screen">
		<param name="LOOP_RATE" value="10.0"/>
		<param name="SEARCH_RADIUS" value="0.5"/>
		<param name="RANDOM_STEP_MAX" value="500"/>
		<param name="THRESHOLD_REF_POINTS" value="20"/>
		<param name="THRESHOLD_ANGLE_FROM_G" value="30.0"/>
		<param name="THRESHOLD_SUM_SQUARE_ERRORS" value="0.001"/>
		<param name="MIN_DISTANCE_BETWEEN_NORMSLS" value="0.1"/>
		<param name="MIN_NUM_GROUPS" value="2"/>
		<param name="FACTOR_1" value="1.0"/>	<!-- num_refpoints -->
		<param name="FACTOR_2" value="0.001"/>	<!-- fitting_error -->
		<param name="FACTOR_3" value="1.0"/>	<!-- ang_from_g_est -->
		<param name="FACTOR_4" value="1.0"/>	<!-- num_groups -->
	</node>
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/2018-05-08-19-45-05.bag"/>

	<node pkg="beginner_tutorials" name="imu_tf" type="imu_tf">
		<param name="TARGET_FRAME" value="odom"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz"/>

	<include file="$(find beginner_tutorials)/launch/lcl.launch"/>

</launch>
